.home-container {
  background-color: var(--bg-color);
  min-height: calc(100vh - 60px);
  padding-top: 24px;
}


.feed-container {
  max-width: 680px;
  /* Ancho m치ximo para el feed en web, como Facebook/Instagram */
  margin: 0 auto;
  /* Centra el feed en la pantalla */
}

/* Media Query para pantallas m치s peque침as (m칩viles) */
@media (max-width: 768px) {
  .home-container {
    padding-top: 0;
  }

  .feed-container {
    padding: 10px 0;
    /* Margen lateral para que no se peguen a los bordes */
  }
}