.home-container {
  background-color: var(--bg-color);
  min-height: calc(100vh - 60px);
  padding-top: 0;
}


.feed-container {
  max-width: 1100px;
  /* Max expansion to fill almost all space between sidebars */
  margin: 0 auto;
  /* Centra el feed en la pantalla */
  transition: max-width 0.3s ease;
}

/* Media Query para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .home-container {
    padding-top: 0;
  }

  .feed-container {
    padding: 0.5rem 0;
    /* Vertical spacing */
    width: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}